<!-- <ion-header>
  <ion-toolbar>
    <ion-title>hometab</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-menu side="end" menuId="second">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>End Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>

 
<ion-header no-border >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="openFirst()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-select value="a" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="a">Branch A</ion-select-option>
      <ion-select-option value="b">Branch B</ion-select-option>
      <ion-select-option value="c">Branch C</ion-select-option>
      <ion-select-option value="d">Branch D</ion-select-option>
    </ion-select>

    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="openSecond()">
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content padding color="dark" class="center-progress-bar">
  <ion-item color="dark">
    <ion-label>Rest Duration</ion-label>
    <ion-datetime display-format="mm:ss" placeholder="Tap here" [(ngModel)]="fulltime"></ion-datetime>
  </ion-item>
    <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    [backgroundStroke]="transparent"
    [showInnerStroke]="false"
  ></circle-progress>
</ion-content>